# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
mahjong-test-library
__test__library__

# DUB
.dub
docs.json
__dummy.html

# Coverage
..-..-..*
source-*

# Mono
Mahjong.*
dub.userprefs

bin/

*.lst
